@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h3, .to-font {
	font-family: 'Major Mono Display', monospace;
}

#splitter-area {
	margin: 3rem auto;
	width: 90%;
	padding: 1rem;
}

.to-btn:hover {
	cursor: pointer;
}

#about, #splitter-setup {
	width: 90%;
	margin: 3rem auto;
	text-align: center;
	padding: 1rem;
}

@media (min-width: 600px) {
	#about, #splitter-setup {
		margin: 4rem auto;
		width: 40%;
	}
}

@media (min-width: 1200px) {
	#splitter-area {
		width: 85%;
	}
}